@import url("../fonts//Sansita.css");

.exploreMore {
    height: 1400px;
}

.tituloSectionExploreMore {
    font-family: 'sansita';
    text-align: center;
    font-size: 50px;
    padding-top: 2rem;
}

.listaTopicosDeComidas {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding-left: 55rem;
}

.linksTopicosComidaExploreMore {
    text-decoration: none;
    color: #5d5d5d;
    font-weight: 850;
    font-size: 20px;
}

.moreConteudoShop {
    display: flex;
    gap: 30px;
    padding-left: 25rem;
    padding-top: 5rem;
}

.pratos {
    width: 500px;
    height: 500px;
}

.imgExploreMore {
    width: 500px;
    height: 500px;
}