@import url("../fonts//Sansita.css");

.exploreMore {
    height: 1400px;
}

.tituloSectionExploreMore {
    font-family: 'sansita';
    font-size: 50px;
    padding-top: 2rem;
    padding-left: 10rem;
}

.listaTopicosDeComidas {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding-left: 50rem;
    padding-top: 2.5rem;
    gap: 70px;
}

.linksTopicosComidaExploreMore {
    position: relative;
    /* necessário */
    text-decoration: none;
    color: #5d5d5d;
    font-weight: 850;
    font-size: 20px;
}

/* linha invisível no começo */
.linksTopicosComidaExploreMore::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    /* ajusta a distância */
    width: 0;
    height: 5px;
    background-color: #252525;
    transition: width 0.4s ease;
}

/* animação no hover */
.linksTopicosComidaExploreMore:hover {
    cursor: pointer;
}

.linksTopicosComidaExploreMore:hover::after {
    width: 100%;
}

.moreConteudoShop {
    display: flex;
    gap: 30px;
    padding-left: 25rem;
    padding-top: 5rem;
}

.pratos {
    width: 500px;
    height: 500px;
}

.imgExploreMore {
    width: 500px;
    height: 500px;
}