@import url("../fonts//Sansita.css");

.exploreMore {
    background-color: #e9a3a3;
    height: 500px;
}

.tituloSectionExploreMore {
    font-family: 'sansita';
    text-align: center;
    font-size: 50px;
    padding-top: 2rem;
}

.moreConteudoShop {
    display: flex;
    gap: 30px;
    padding-left: 10rem;
    padding-top: 5rem;
}

.pratos{
    background-color: red;
}