.footer {
    background-image: url(../img/fundoProdutos.png);
    height: 900px;
    background-size: cover;
}

.listaLogoEredesSocias {
    display: flex;
    padding-left: 5rem;
}

.itensRedesSociais {
    display: flex;
    gap: 30px;
}

.logoFooter {
    width: 150px;
}

.redesSociais {
    display: flex;
    padding-top: 2.5rem;
    padding-left: 100rem;
}

.listaredesSociais {
    list-style-type: none;
}

.paragrafoFooter {
    color: #E9BD8D;
    font-size: 30px;
    padding-right: 2rem;
}

.linhaSeparandoConteudoFooter {
    border: none;
    height: 2px;
    background-color: #000;
}

.conteudoFooter {
    display: flex;
    gap: 30px;
    padding-top: 5rem;
}

h4 {
    color: #E9BD8D;
    padding-bottom: 1.5rem;
    font-size: 50px;
}

.paragrafoConteudoListaFooter {
    color: #f5f5f5;
    font-size: 25px;
    line-height: 60px;
}