.footer {
    background-image: url(../img/fundoProdutos.png);
    height: 500px;
    background-size: cover;
}

.listaLogoEredesSocias {
    display: flex;
    padding-left: 5rem;
}

.itensRedesSociais {
    display: flex;
    gap: 30px;
}

.logoFooter {
    width: 150px;
}

.redesSociais {
    display: flex;
    padding-top: 2.5rem;
}

.listaredesSociais {
    list-style-type: none;
}

.paragrafoFooter{
    color: #E9BD8D;
}