.footer {
    background-image: url(../img/fundoProdutos.png);
    height: 500px;
    background-size: cover;
}

.listaLogoEredesSocias {
    display: flex;
}

.itensRedesSociais {
    display: flex;
}