.header {
    background-image: url("../img/fundoHeader.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    padding-left: 5rem;
}

.imgHeader {
    width: 100px;
    height: 100px;
}

.headerLista {
    display: flex;
}