.header {
    background-image: url("../img/fundoHeader.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    padding-left: 5rem;
    padding-top: 1.5rem;
}

.imgHeader {
    width: 100px;
    height: 100px;
}

.headerLista {
    display: flex;
    padding-top: 2rem;
    gap: 50px;
    padding-left: 30rem;
    list-style-type: none;

}

.linkHeader {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}

.headerLista :hover {
    cursor: pointer;
    text-decoration: underline;
}

.paragrafoHeader {
    color: #E9BD8C;
}

.tituloprincipal {
    color: #fff;
}