.header {
    background-image: url("../img/fundoHeader.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    padding-left: 5rem;
    padding-top: 1.5rem;
}

.imgHeader {
    width: 100px;
    height: 100px;
}

.headerLista {
    display: flex;
    padding-top: 2rem;
    gap: 20px;
    padding-left: 5rem;

}

.linkHeader {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}