@import url("../fonts/Sansita.css");

.produtosVendas {
    background-color: #e3bdbd;
    height: 1500px;
}

.tituloProdutos {
    font-family: 'Sansita';
    font-size: 50px;
    text-align: center;
    padding-top: 3rem;
}

.flexbox {
    padding-top: 5rem;
    height: 440px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 15px;
    justify-content: space-between;
    padding: 100px;
}

.flexbox img {
    width: 300px;
}

.flexbox div {
    background-image: url("../img/fundoProdutos.png");
    background-size: cover;
    /* Faz a imagem cobrir toda a div */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita repetição */
    width: 400px;
    margin: 100px;
    height: 500px;
    border-radius: 10px;
}


.imgProduct {
    width: 120px;
    padding-left: 3rem;
    padding-top: 0.5rem;
}