.promocao {
    background-image: url(../img//fundoPromocao.png);
    height: 800px;
    width: 100%;
    background-size: cover;
}

.subTitulo {
    color: #933C24;
    font-size: 40px;
    text-align: center;
}