@import url("../fonts/Inter.css");

.promocao {
    background-image: url(../img//fundoPromocao.png);
    height: 800px;
    width: 100%;
    background-size: cover;
}

.subTitulo {
    color: #933C24;
    font-size: 50px;
    text-align: center;
    padding-top: 1rem;
}

.promocaoDescricao {
    font-family: 'Inter';
    text-align: center;
    padding-top: 1.5rem;
    font-size: 30px;
}

.btnPromocaoLearMore {
    background: none;
    border: none;
    font-size: 20px;
}